$white : #fff;
$black : #000;
$gray : #f1f3f4;
$orange:#f4511e;

$primary-bg-light : #f1f9f8;
$primary-bg:#ffca28;
$secondary-bg: #039be5;
$gray-bg:#f1f3f4;

$green:#18AA00;
$yellow:#E28A05;

//nav varibles
$nav-bg:$primary-bg