
@import '../../assets/scss/abstracts/abstracts-dir.scss';
.auth-layout{
    background-color: $primary-bg;
    min-height: 100vh;
    img{
        margin: 0 auto;
    }

}
.auth-panel{
    padding: 0 2rem;
    width: 100%;
}